__pycache__/
storage/
logs/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env/
pythonenv/
.env
.venv
.pypy/
.ptpython
.pylintrc
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pdm-python
.python-version
.scrapy
.spyderproject
.spyproject
.ipynb_checkpoints
instance/
.webassets-cache
.pdm.toml
.pdm-python
.pdm-build/
local_settings.py
db.sqlite3
db.sqlite3-journal
.DS_Store
.history/
.vscode/
.idea/
memory.json
gemini_memory.json
*.log