colorama==0.4.6
numpy>=1.26.4,<2
opencv-python-headless==4.10.0.84
openwakeword==0.6.0
python-dotenv==1.2.2
PyYAML==6.0.3
scipy==1.15.3
sounddevice==0.4.6
websockets==15.0.1
requests
onnxruntime
tqdm
scikit-learn